 .containerHome{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 .listagem{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

 .containerHome button{
  border: none;
  margin: 20px auto;
  padding: 10px;
  background-color: #191919;
  color: #f0f0f0;
  border-radius: 5px;
 }

